button {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 0;
    text-align: left;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-variation-settings: "wdth" 100;
    font-size: 13px;
    line-height: 1.4;
    color: rgb(131, 131, 131);
}