#theme-toggle-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: var(--secondary-text-color);
    position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
}

#theme-toggle-button:hover {
    color: var(--primary-text-color);
}

#sun-icon, #moon-icon {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

:root[current-theme="dark"] #sun-icon {
    opacity: 0;
    transform: rotate(-90deg) scale(0.8);
}

:root[current-theme="dark"] #moon-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

:root[current-theme="light"] #sun-icon {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}

:root[current-theme="light"] #moon-icon {
    opacity: 0;
    transform: rotate(90deg) scale(0.8);
}

.social-icon {
    width: 60px;
    height: 60px;

    color: var(--secondary-text-color);

    margin-right: 10px;
}

.social-icon:visited {
    color: var(--secondary-text-color);
}

.social-icon:hover {
    color: var(--primary-text-color);
}