body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  
  margin: 0;
  padding: 0;
  width: min(100%, 700px);
  margin-inline: auto;
  padding-inline: clamp(16px, 5vw, 32px);
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}