body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;  /* prevents touching screen edges */
  padding-right: 24px;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}