h1 {
  font-size: clamp(26px, 5vw, 30px);
  margin-bottom: `0px;
}

h2 {
  color: var(--secondary-text-color);
  font-size: clamp(16px, 3vw, 22px);

  margin-top: 10px;
}

h3 {
  color: var(--secondary-text-color);
  font-size: clamp(12px, 2vw, 16px);

  margin-top: 40px;
}

h4 {
  font-size: clamp(14px, 2.5vw, 18px);
  margin-bottom: 12px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.h4-subtext {
  color: var(--secondary-text-color);
  font-size: clamp(14px, 2vw, 18px);
}