h1 {
  font-size: clamp(26px, 5vw, 30px);
  margin-bottom: 10px;
  font-weight: 600;

  margin-top: 200px;
}

h2 {
  color: var(--secondary-text-color);
  font-size: clamp(16px, 3vw, 22px);
  font-weight: 500;
  margin-top: 10px;
}

h3 {
  color: var(--secondary-text-color);
  font-size: clamp(12px, 2vw, 16px);

  margin-top: 40px;
}

h4 {
  font-size: clamp(20px, 2.5vw, 18px);
  margin-bottom: 12px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.h4-subtext {
  color: var(--secondary-text-color);
  font-size: clamp(14px, 2vw, 18px);
  margin-left: 10px;
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}